.navbar-container {
    background: #6599E7;
    font-family: "Righteous";
    font-weight: 400;
    outline: dashed;
    outline-width: 6px;
    outline-color: #444;
    margin-bottom: 5px;
}

.navbar-links {
    width: 90%;
    margin: 0 auto; 
}

.header-logo {
    float: left;
    margin: 15px 0;
    padding-top: 3px;
    height: 50px;
}

.header-title {
    float: left;
    color: #ffe76f;
    text-shadow: 0 0 1px rgb(163, 144, 144), 0 0 5px rgb(129, 118, 118);
    text-transform: uppercase;
    font-size: 40px;
    margin: 17px 0;
    padding-left: 15px;
}

nav {
    float: right;
    margin-right: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #ffe76f;
    text-shadow: 0 0 1px rgb(163, 144, 144), 0 0 5px rgb(129, 118, 118);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: rgb(255, 170, 167);
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: rgb(251, 255, 0);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
} 

nav a:hover::before {
    width: 100%;
} 