body {
    margin: 0;
    background: #222;
    font-family: "Righteous";
    font-weight: 400;
}

.navbar {
    background: #6599E7;
}

.navbar-links {
    width: 80%;
    margin: 0 auto; 
}

.navbar .logo {
    float: left;
    margin: 15px 0;
    padding: 10px, 0;
    height: 50px;
}

.navbar nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20;
}

nav a:hover {
    color: #800;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
} 

nav a:hover::before {
    width: 100%;
} 